<ion-view view-title="Your Emergency">
  <ion-content>
    <div class="list">
      <label class="item item-input">
        <input type="text" placeholder="First Name">
      </label>
      <label class="item item-input">
        <input type="text" placeholder="Last Name">
      </label>
      <label class="item item-input">
        <input type="text" placeholder="Email Address">
      </label>      
      <label class="item item-input">
        <textarea placeholder="Emergency Details" style="height: 100px"></textarea>
      </label>
    </div>
    <div class="padding">
      <button class="button button-energized button-full">
        Submit Your Emergency
      </button>
    </div>
  </ion-content>
</ion-view>
